 <!--<form method="post" action="ton_action">
                                 <p>
                                        Select one or more feature :<br />
                                       <input type="checkbox" name="ton_nom" id="ton_nom" /> <label for="ton_nom">V_CALL</label><br />
                                       <input type="checkbox" name="ton_nom" id="ton_nom" /> <label for="ton_nom">D_CALL</label><br />
                                       <input type="checkbox" name="ton_nom" id="ton_nom" /> <label for="ton_nom">J_CALL</label><br />
                                       <input type="checkbox" name="ton_nom" id="ton_nom" /> <label for="ton_nom">SEQUENCE_VDJ</label><br />
                                       <input type="checkbox" name="ton_nom" id="ton_nom" /> <label for="ton_nom">SEQUENCE_IMGT</label><br />
                                       <input type="checkbox" name="ton_nom" id="ton_nom" /> <label for="ton_nom">V_SEQ_LENGTH</label><br />
                                       <input type="checkbox" name="ton_nom" id="ton_nom" /> <label for="ton_nom">JUNCTION_LENGTH</label>
                                 </p>
                        </form>-->

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>celiac dataset</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../../static/data/img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../../static/data/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/data/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/data/css/magnific-popup.css">
    <link rel="stylesheet" href="../../static/data/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/data/css/themify-icons.css">
    <link rel="stylesheet" href="../../static/data/css/nice-select.css">
    <link rel="stylesheet" href="../../static/data/css/flaticon.css">
    <link rel="stylesheet" href="../../static/data/css/gijgo.css">
    <link rel="stylesheet" href="../../static/data/css/animate.css">
    <link rel="stylesheet" href="../../static/data/css/slicknav.css">
    <link rel="stylesheet" href="../../static/data/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->

</head>

<body>
{#    <!--[if lte IE 9]>#}
{#            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>#}
{#        <![endif]-->#}


    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="{% url 'data:home' %}">
                                    <img src="../../static/data/img/home.PNG" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="menu_wrap d-none d-lg-block">
                                <div class="menu_wrap_inner d-flex align-items-center justify-content-end">
                                    <div class="main-menu">
                                        <nav>
                                            <ul id="navigation">
                                                <li>about us</li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->


{# toute cette partie qui suite doit etre comprise entre le header et le footer #}
    <div class="expert_doctors_area">
        <div class="container-fluid">
            <div class="row justify-content-center ">
                <div class="col-lg-6">
                    <div class="section_title mb-55 text-center">
                        <h3>User interface for easy use for a non-technological biologists</h3>
                    </div>
                </div>
            </div>
            <div class="section-top-border">
            <div class="row justify-content-center">
                <div class="col-lg-2 col-md-6 border-right">
                    <div class="row>">
                        Choose Your dataset and continue with CDR3_IMGT feature of the dataset:
                    </div>
                    <div class="row>">
                        <form method="post">
                            {% csrf_token %}
                            {{ form }} <br><br>
                            <input type="submit" value="Continue">
                        </form>
                    </div>
                </div>
                <div class="col-lg-10 col-md-6">

                    <!--<div class="row">
                    <h3>Presentation of the dataset</h3>
                    Our immune system contains elements that allow us to adapt to the environment and develops in a way that allows our body to adapt to the environment. It has the B cells which represent a part of the adaptive immune system.<br>
                    There are 53 columns representing each of the characteristics of the patient's antibodies.<br>
                    Indeed, from a dataset containing the antibodies of 96 different patients, part of which has Celiac disease and the other part does not.<br>
                    There are also 18 men as well as 45 women.<br>
                    -->
                    <div class="row container-fluid">
                    <h3>Abstract</h3>
                        Antibodies, expressed on the surface of B lymphocytes or secreted in serum, must offer enormous diversity in order to recognize and neutralize a large number of potential pathogens. Several factors contribute to antibody diversity, including the multiple germline gene segments that make up the primary repertoire. During an immune response, certain mechanisms make it possible to increase the diversity and the affinity to the antigen, namely somatic hypermutation and secondary rearrangements. The isotypic permutation process allows antibodies to change biological function while keeping their specificity for the antigen.<br>
                        Our database is made up of a few datasets, including Celiac disease, tumor, and others ...<br>
                        With the advances in high throughput sequencing technologies, we are able to sequence the antibody chains and form a repertoire. This repertoire is a representation of the antibodies within an individual. The antibodies play a key role in auto-immune disease, for example by using the sequenced repertoire one can differentiate between healthy and unhealthy individuals.
                    </div><br>
                    <div class="row container-fluid">
                    <h3>Goal of this interface</h3>
                        Today, for creating such a classifier you need to collect the data, engineer the features and then apply machine learning algorithm. Our goal is to give the possibility to a non-technological biologist to be able to access this system. To do this,  this interface automate that system and is a tool that can pull data sets from existing servers, and that can build features from a known list the consumer request and create a machine learning algorithm that can be tweaked. The target clients for this tool is the b cell research community.
                    </div><br>
                    <div class="row">
                    <h4>Summary of dataset</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <h5>Celiac</h5>
                                lenght of dataset: {{ resumeOfDatasets.length }}<br>
                                max of antibodie in repertoire: {{ resumeOfDatasets.max }}<br>
                                min of antibodie in repertoire: {{ resumeOfDatasets.min }}<br>
                                mean of antibodies: {{ resumeOfDatasets.mean }}<br>
                                sicks patients: {{ resumeOfDatasets.sick }}<br>
                                unsicks patients: {{ resumeOfDatasets.unsick }}<br>
                                number of men : {{ resumeOfDatasets.numOfMen }}<br>
                                number of women : {{ resumeOfDatasets.numOfWomen }}
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="row">
                            <div class="col-lg-4">
                                    <img src="../../static/data/img/AntibodiesNumberRepertoire.PNG" width="450" height="350">
                            </div>
                            <div class="col-lg-4">
                                <img src="../../static/data/img/UnsickAndSick.png" width="450" height="350">
                            </div>
                            <div class="col-lg-4">
                                <img src="../../static/data/img/UnsickAndSick.png" width="450" height="350">
                            </div>
                        </div>
                    <div class="row">
                            <div class="col-lg-4">
                                Among the patients, the repertoire containing the most antibodies contains 54 958, while the one containing the least contains 2061. Thus, on average a patient contains 28 014 antibodies.
                            </div>
                            <div class="col-lg-4">
                                There are 46 healthy patients and 40 patients with celiac disease.
                            </div>
                            <div class="col-lg-4">
                                There are 46 healthy patients and 40 patients with celiac disease.
                            </div>
                        </div>
                    </div>-->
                </div>


                        <!--<div class="progress-table">
                            <div class="table-head">
                                <div class="visit">V_CALL </div>
                                <div class="visit">D_CALL </div>
                                <div class="visit">J_CALL </div>
                                <div class="visit">SEQUENCE_VDJ </div>
                                <div class="visit">SEQUENCE_IMGT </div>
                                <div class="visit">V_SEQUENCE_LENGTH </div>
                                <div class="visit">JUNCTION_LENGTH</div>
                            </div>
                            {% for i in tableData %}
                               <div class="table-row">
                                <div class="visit" title={{ i.V_CALL }}>{{ i.V_CALL|truncatechars:10 }}</div>
                                <div class="visit" title={{ i.D_CALL }}>{{ i.D_CALL|truncatechars:10 }}</div>
                                <div class="visit" title={{ i.J_CALL }}>{{ i.J_CALL|truncatechars:10 }}</div>
                                <div class="visit" title={{ i.SEQUENCE_VDJ }}>{{ i.SEQUENCE_VDJ|truncatechars:10 }}</div>
                                <div class="visit" title={{ i.SEQUENCE_IMGT }}>{{ i.SEQUENCE_IMGT|truncatechars:10 }}</div>
                                <div class="visit">{{ i.V_SEQ_LENGTH|truncatechars:10 }}</div>
                                <div class="visit">{{ i.JUNCTION_LENGTH|truncatechars:10 }}</div>
                               </div>
                            {% endfor %}
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="bordered_1px "></div>
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- JS here -->
    <script src="../../static/data/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../../static/data/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../../static/data/js/popper.min.js"></script>
    <script src="../../static/data/js/bootstrap.min.js"></script>
    <script src="../../static/data/js/owl.carousel.min.js"></script>
    <script src="../../static/data/js/isotope.pkgd.min.js"></script>
    <script src="../../static/data/js/ajax-form.js"></script>
    <script src="../../static/data/js/waypoints.min.js"></script>
    <script src="../../static/data/js/jquery.counterup.min.js"></script>
    <script src="../../static/data/js/imagesloaded.pkgd.min.js"></script>
    <script src="../../static/data/js/scrollIt.js"></script>
    <script src="../../static/data/js/jquery.scrollUp.min.js"></script>
    <script src="../../static/data/js/wow.min.js"></script>
    <script src="../../static/data/js/nice-select.min.js"></script>
    <script src="../../static/data/js/jquery.slicknav.min.js"></script>
    <script src="../../static/data/js/jquery.magnific-popup.min.js"></script>
    <script src="../../static/data/js/plugins.js"></script>
    <script src="../../static/data/js/gijgo.min.js"></script>
    <!--contact js-->
    <script src="../../static/data/js/contact.js"></script>
    <script src="../../static/data/js/jquery.ajaxchimp.min.js"></script>
    <script src="../../static/data/js/jquery.form.js"></script>
    <script src="../../static/data/js/jquery.validate.min.js"></script>
    <script src="../../static/data/js/mail-script.js"></script>

    <script src="../../static/data/js/main.js"></script>
    <script>
        $('.datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-calendar"></span>'
            }
        });

        $('.timepicker').timepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-clock-o"></span>'
            }
        });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    </script>
</body>

</html>